*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

textarea,
button,
select,
input {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

h2 {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

h3 {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.desc {
    color: #51586a;
    line-height: 1.6667;
    font-size: 1.8rem;
}

.btn {
    --btn-width: 170px;
    --btn-height: 62px;

    min-width: var(--btn-width);
    height: var(--btn-height);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
}

.btn:hover,
[class*="cta"]:hover {
    opacity: 0.85;
}

/* Header */

.header {
    padding-top: 20px;
}

.header-sticky {
    position: sticky;
    top: -20px;
    z-index: 999;
}

.header__inner {
    width: 83.125%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.header-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-wrap {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #5d3bee33;
}

.header-contact {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36364;
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

.header .logo {
    position: absolute;
    left: 50%;
    translate: -50% 0;
}

.nav {
    margin-left: auto;
}

.nav__menu-list {
    margin-right: -21px;
    display: flex;
}

.nav__menu-item {
    display: inline-block;
    padding: 12px 20px;
    color: #51586a;
    font-size: 1.8rem;
}

.nav__menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Hero */
.hero__img-wrap {
    width: min(514px, 90%);
    position: relative;
}

.hero__img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.hero__img-bg {
    position: absolute;
    width: auto;
    height: 110%;
    left: min(-218px, -41%);
    bottom: 0;
}

.hero__content {
    margin-left: calc(100% / 6);
    margin-top: 181px;
}

.hero__title {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
    letter-spacing: -0.32rem;
}

.hero__desc {
    margin-top: 20px;
    width: min(370px, 70%);
}

.hero__cta-list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__cta-link {
    padding: 10px;
}

.hero__cta-link,
.cta-link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.hero__contact {
    margin-top: 109px;
    display: flex;
    align-items: center;
}

.hero__icon-wrap {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(8 4 21 / 10%);
}

.hero__icon-wrap:hover,
.service__item-icon-wrap:hover {
    border-color: rgb(8, 4, 21);
}

.hero__icon-wrap:first-of-type {
    margin-left: 15px;
}

/* Client */

.client {
    margin-top: 98px;
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 34px 0;
}

.client__title {
    display: flex;
    gap: 13px;
}

.client__title::before {
    content: "";
    position: relative;
    left: 0;
    top: 35px;
    display: block;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

/* Service */
.service {
    margin: 133px 0 140px;
}

.service__intro {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.service__desc {
    margin: 20px auto 0;
    width: 534px;
}

.service__item {
    padding: 32px 42px;
    background: #fbfaff;
}

.service__item-icon-wrap {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #0804150d;
}

.service__item-name {
    margin-top: 22px;
}

.service__item-desc {
    margin-top: 15px;
}

/* Project */
.project {
    padding: 86px;
    background: #5d3bee;
}

.project__heading {
    width: min(468px, 82%);
    color: #fff;
}

.project__desc {
    width: min(400px, 70.17%);
    padding: 34px 0 34px 34px;
    color: #fff;
}

.project__list {
    margin-top: 70px;
}

.project__item {
    padding: 24px 24px 24px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfaff;
}

.project__item-content {
    width: min(44.5%, 223px);
}

.project__item-desc {
    margin: 10px 0 20px;
    line-height: 1.4375;
    font-size: 1.6rem;
}

.project__item-thumb {
    width: min(48.05%, 246px);
    height: auto;
}

.project__btn {
    margin-top: 80px;
    background: #fff;
    color: #080415;
}

/* About */
.about {
    margin-top: 140px;
}

.about__intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__tags {
    display: flex;
    align-items: center;
    gap: 9px;
}

.about__tags :first-child {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.about__heading {
    margin: 10px 0 15px;
}

.about__desc {
    width: min(570px, 50%);
    text-align: center;
}

.about__achievements-wrap {
    width: 100%;
    margin: 70px 0;
}

.about__achievements {
    width: min(83%, 946px);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    border-color: #08041533 transparent #08041533 transparent;
}

.about__achievement-number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35714;
    letter-spacing: 0.168rem;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.about__achievement-factor {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.about__video {
    width: 100%;
    height: min(628px, 56.25vw);
    background: url(../img/about-video.png) center/contain no-repeat;
}

.video-player {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    transition: scale 400ms;
}

.video-player:hover {
    scale: 1.1;
}

/* Testimonial */
.testimonial {
    margin-top: 150px;
}

.testimonial__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__desc {
    margin-top: 20px;
    width: min(570px, calc(100% - 20px));
    text-align: center;
}

.testimonial__list {
    margin-top: 60px;
    width: 100%;
    display: flex;
}

.testimonial__item {
    width: 100%;
    flex-shrink: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.item-active {
    display: flex;
}

.testimonial__review {
    width: min(679px, calc(100% - 20px));
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.66667;
}

.testimonial__user {
    margin-top: 36px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.testimonial__user-bg {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f29764;
    overflow: hidden;
}

.testimonial__user-avatar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: inherit;
}

.testimonial__user-name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3333;
}

.testimonial__user-job {
    margin-top: 3px;
    color: #51586a;
    line-height: 1.8125;
}

.testimonial__nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.testimonial__nav-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #08041533;
}

.nav-dot--active {
    background: #5d3bee;
    outline: 1px solid #5d3bee;
    outline-offset: 4px;
}

/* FAQ */
.faq {
    margin-top: 169px;
}

.faq__heading {
    width: min(575px, calc(100% - 20px));
    text-align: center;
    margin: 0 auto;
}

.faq__list {
    margin-top: 30px;
}

.faq [type="radio"] {
    display: none;
}

.faq__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid #161a1c33;
}

.faq__item {
    width: 56%;
    margin-left: 20px;
    margin-top: 20px;
    flex-shrink: 0;
}

.faq__item-desc {
    margin-top: 24px;
    display: none;
}

.faq__item-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #161a1c33;
    cursor: pointer;
}

.faq__item-btn :last-child {
    display: none;
}

.faq [type="radio"]:checked + .faq__body {
    border-bottom-color: #5d3bee;
}

.faq [type="radio"]:checked + .faq__body .faq__item-desc {
    display: block;
}

.faq [type="radio"]:checked + .faq__body .faq__item-name {
    color: #5d3bee;
}

.faq [type="radio"]:checked + .faq__body .faq__item-btn :first-child {
    display: none;
}

.faq [type="radio"]:checked + .faq__body .faq__item-btn :last-child {
    display: block;
}

/* Gallery */
.gallery {
    margin-top: 160px;
}

.gallery__content {
    margin-bottom: 70px;
    flex-direction: column;
}

.gallery__desc {
    margin: 20px 0 30px;
    width: 528px;
}

.gallery__link {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
    text-underline-offset: 7px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact */
.contact {
    margin-top: 140px;
}

.contact__content {
    padding: 68px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbfaff;
}

.contact__icon {
    width: 90px;
}

.contact__heading {
    margin: 15px 0 20px;
}

.contact__desc {
    margin-bottom: 40px;
    width: 570px;
    text-align: center;
}
